# Python pypi packages used by the Programmer's Quest MMO Panda3D application
# Panda3d must always be included in this file as a requirement to
# run the build_apps commands for distribution

# Panda3D
panda3d
panda3d-stageflow
panda3d-blend2bam

# Logging
sentry_sdk

# Native UI
easygui

# Development Tools
limeade
gitpython
pytest

# Misc.
six
numpy